<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="DevelopData" connectionString="Data Source=ESB-COMP-SQLUO;Initial Catalog=DevelopData;User ID=Linus1006;Password=Mimian@q2;Asynchronous Processing=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>